In [1]:
import requests
import json
from pprint import pprint
import pandas as pd
import time

In [2]:
# USA Yearly change for Temperature
url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/USA"
request = requests.get(url).json()
# pprint(request)
len(request)
year = []
data = []
for x in range(len(request)):
    year.append(request[x]['year'])
    data.append(request[x]['data'])
year_df = pd.DataFrame({"Year": year,
                       "Temperature": data})

year_df.head()

   Year  Temperature
0  1901     6.618749
1  1902     6.464327
2  1903     6.073844
3  1904     6.149883
4  1905     6.599617

In [3]:
# AUS Yearly change for Temperature
url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/AUS"
request = requests.get(url).json()
# pprint(request)
len(request)
year = []
data = []
for x in range(len(request)):
    year.append(request[x]['year'])
    data.append(request[x]['data'])
year_df = pd.DataFrame({"Year": year,
                       "Temperature": data})

year_df.head()

   Year  Temperature
0  1901    21.357021
1  1902    21.382462
2  1903    20.936884
3  1904    20.791357
4  1905    20.954510