In [8]:
import requests
import json
from pprint import pprint
import pandas as pd
import time

In [34]:
# USA yearly change for Temperature
url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/USA"
request = requests.get(url).json()
len(request)
usa_temp_year = []
usa_temp_data = []
for x in range(len(request)):
    usa_temp_year.append(request[x]['year'])
    usa_temp_data.append(request[x]['data'])
usa_temp_year_df = pd.DataFrame({"USA Year": usa_temp_year,
                       "USA Temperature": usa_temp_data})

usa_temp_year_df.head()

   USA Year  USA Temperature
0      1901         6.618749
1      1902         6.464327
2      1903         6.073844
3      1904         6.149883
4      1905         6.599617

In [35]:
# AUS yearly change for Temperature
url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/AUS"
request = requests.get(url).json()
# pprint(request)
len(request)
aus_temp_year = []
aus_temp_data = []
for x in range(len(request)):
    aus_temp_year.append(request[x]['year'])
    aus_temp_data.append(request[x]['data'])

In [36]:
# Brazil yearly change for Temperature
bra_temp_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/BRA"
request = requests.get(bra_temp_url).json()
len(request)
bra_temp_year = []
bra_temp_data = []
for x in range(len(request)):
    bra_temp_year.append(request[x]['year'])
    bra_temp_data.append(request[x]['data'])

   Year  Temperature
0  1901    21.357021
1  1902    21.382462
2  1903    20.936884
3  1904    20.791357
4  1905    20.954510

In [38]:
# USA yearly change for precipitation
usa_pr_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/pr/year/USA"
request = requests.get(usa_pr_url).json()
# pprint(request)
len(request)
usa_pr_year = []
usa_pr_data = []
for x in range(len(request)):
    usa_pr_year.append(request[x]['year'])
    usa_pr_data.append(request[x]['data'])

In [43]:
# AUS yearly change for precipitation
aus_pr_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/pr/year/AUS"
request = requests.get(aus_pr_url).json()
# pprint(request)
len(request)
year = []
aus_pr_data = []
for x in range(len(request)):
    year.append(request[x]['year'])
    aus_pr_data.append(request[x]['data'])

In [45]:
# Brazil yearly change for precipitation
bra_pr_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/pr/year/BRA"
request = requests.get(bra_pr_url).json()
# pprint(request)
len(request)
year = []
bra_pr_data = []
for x in range(len(request)):
    year.append(request[x]['year'])
    bra_pr_data.append(request[x]['data'])

In [37]:
# Full temperature dataframe 
full_temp_df = pd.DataFrame()
full_temp_df["Year"] = usa_temp_year 
full_temp_df["USA Temperature (C)"]= usa_temp_data
full_temp_df["AUS Temperature (C)"] = aus_temp_data
full_temp_df["BRA Temperature (C)"] = bra_temp_data
full_temp_df

     Year  USA Temperature (C)  AUS Temperature (C)  BRA Temperature (C)
0    1901             6.618749            21.357021            24.896547
1    1902             6.464327            21.382462            25.091810
2    1903             6.073844            20.936884            24.896107
3    1904             6.149883            20.791357            24.527473
4    1905             6.599617            20.954510            24.840496
..    ...                  ...                  ...                  ...
107  2008             6.935361            21.503962            25.218435
108  2009             7.102065            21.921940            25.496075
109  2010             7.409120            21.302647            25.681717
110  2011             7.405612            21.217350            25.390158
111  2012             7.939524            21.534817            25.582172

[112 rows x 4 columns]

In [46]:
# Full precipitation dataframe
full_pr_df = pd.DataFrame()
full_pr_df["Year"] = usa_pr_year 
full_pr_df["USA Precipitation (mm)"]= usa_pr_data
full_pr_df["AUS Precipitation (mm)"]= aus_pr_data
full_pr_df["Brazil Precipitation (mm)"] = bra_pr_data
full_pr_df

,Year,USA Precipitation (mm),AUS Precipitation (mm),Brazil Precipitation (mm)
0,1901,53.452920,36.893700,147.83461
1,1902,56.929210,27.890614,146.87148
2,1903,54.475258,43.456768,145.65738
3,1904,51.814545,39.251026,146.21407
4,1905,57.633360,30.674429,149.61710
...,...,...,...,...
107,2008,58.170464,37.755333,158.68472
108,2009,56.836555,40.328210,159.89050
109,2010,58.305126,59.149860,150.25182
110,2011,59.187828,52.675600,154.51495
111,2012,56.289930,41.835380,139.94810

In [49]:
# Merged dataframes
merged_df = full_temp_df.merge(full_pr_df, how='outer')

merged_df

,Year,USA Temperature (C),AUS Temperature (C),BRA Temperature (C),USA Precipitation (mm),AUS Precipitation (mm),Brazil Precipitation (mm)
0,1901,6.618749,21.357021,24.896547,53.452920,36.893700,147.83461
1,1902,6.464327,21.382462,25.091810,56.929210,27.890614,146.87148
2,1903,6.073844,20.936884,24.896107,54.475258,43.456768,145.65738
3,1904,6.149883,20.791357,24.527473,51.814545,39.251026,146.21407
4,1905,6.599617,20.954510,24.840496,57.633360,30.674429,149.61710
...,...,...,...,...,...,...,...
107,2008,6.935361,21.503962,25.218435,58.170464,37.755333,158.68472
108,2009,7.102065,21.921940,25.496075,56.836555,40.328210,159.89050
109,2010,7.409120,21.302647,25.681717,58.305126,59.149860,150.25182
110,2011,7.405612,21.217350,25.390158,59.187828,52.675600,154.51495
111,2012,7.939524,21.534817,25.582172,56.289930,41.835380,139.94810

In [50]:
# Export csv
full_temp_df.to_csv('full_temp.csv')
full_pr_df.to_csv('full_pr.csv')
merged_df.to_csv('merged_df.csv')