In [33]:
import requests
import json
from pprint import pprint
import pandas as pd
import time

In [54]:
# USA Yearly change for Temperature
url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/USA"
request = requests.get(url).json()
# pprint(request)
len(request)
year = []
data = []
for x in range(len(request)):
    year.append(request[x]['year'])
    data.append(request[x]['data'])
year_df = pd.DataFrame({"Year": year,
                       "Temperature": data})

year_df.head()

   Year  Temperature
0  1901     6.618749
1  1902     6.464327
2  1903     6.073844
3  1904     6.149883
4  1905     6.599617

In [55]:
# AUS Yearly change for Temperature
url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/tas/year/AUS"
request = requests.get(url).json()
# pprint(request)
len(request)
year = []
data = []
for x in range(len(request)):
    year.append(request[x]['year'])
    data.append(request[x]['data'])
year_df = pd.DataFrame({"Year": year,
                       "Temperature": data})

year_df.head()

   Year  Temperature
0  1901    21.357021
1  1902    21.382462
2  1903    20.936884
3  1904    20.791357
4  1905    20.954510

In [36]:
# USA mavg Precipitation(1980-1999) data
rain_url = url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/pr/1980/1999/USA"

# Request
rain_response = requests.get(rain_url).json()

# Print
pprint(rain_response)

[{'fromYear': 1980,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [54.08542875,
                50.10966809,
                59.51437374,
                65.55661286,
                70.43493967,
                68.00114649,
                74.48428044,
                74.43675767,
                76.55364909,
                69.6023086,
                65.11055405,
                57.89741514],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [62.24072027,
                57.24048448,
                60.46462325,
                59.70685447,
                65.48141856,
                67.01421827,
                68.07160133,
                65.0143177,
                66.89814055,
                64.13912761,
                71.3859928,
                70.08152903],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'cnrm_cm3',
  'monthVals': [64.41341328,
                57.52317639,
                70.80296506,
                80.30451778,
                91.53901043,
                92.17370944,
                97.61402443,
                90.73968503,
                86.94435889,
                81.82628371,
                68.19157718,
                66.61348796],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'csiro_mk3_5',
  'monthVals': [69.54382106,
                64.10854116,
                66.03073631,
                57.06770773,
                65.87576136,
                62.80174093,
                61.71441411,
                64.88963204,
                68.92178716,
                73.01945571,
                71.35768316,
                72.82132831],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [67.70539684009555,
                66.69404607521452,
                73.53323015369973,
                75.44286202790576,
                87.80408002371514,
                85.86737148616358,
                74.33899571834746,
                67.00282144423701,
                70.37529853960224,
                72.64690100463291,
                78.0702828813928,
                70.55304864042117],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [69.01938907879776,
                61.67753645785704,
                67.24041373235265,
                66.84488340269802,
                70.0378901720558,
                71.76723982033523,
                69.27571578682839,
                65.72553665185211,
                70.24607375791271,
                67.787894857791,
                74.31132623381015,
                73.19745659767283],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ingv_echam4',
  'monthVals': [75.53781141009324,
                67.44588688306365,
                76.31535922736289,
                72.10046190751959,
                66.29382928718763,
                63.77154523137134,
                66.43158188230524,
                67.94190241115275,
                66.02853500277764,
                71.69631070686488,
                77.27566852713417,
                80.90009119029303],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'inmcm3_0',
  'monthVals': [79.79844880043989,
                70.39928356371048,
                75.47476586320394,
                70.7984702973436,
                71.00259361719576,
                61.16878927734715,
                58.946363064721865,
                57.45192345597725,
                59.10409682409689,
                74.33947096322743,
                77.32978624358432,
                86.95630945886684],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ipsl_cm4',
  'monthVals': [88.98130164776434,
                73.74046005097735,
                77.09251404759203,
                70.56343242830322,
                61.12663610082266,
                59.509989849058016,
                64.25017495524042,
                65.30445049528736,
                77.00227124790844,
                85.20961761474648,
                86.11506150072886,
                91.3228435183384],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'miroc3_2_medres',
  'monthVals': [68.00793434200794,
                60.305488117913704,
                63.299396391229195,
                59.76605060510947,
                69.71610080096136,
                64.064746035604,
                67.32644301341045,
                66.21965618322736,
                76.29475272623473,
                79.37396568192196,
                72.86002911594139,
                72.11501292279327],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'miub_echo_g',
  'monthVals': [66.90209335937051,
                60.391853955618934,
                67.81135737925635,
                68.8607179767888,
                70.95810122500687,
                67.31559600831432,
                76.88418792207048,
                77.47638037742304,
                70.97665131537349,
                71.29305537322968,
                68.0377573253467,
                70.50053482816055],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'mpi_echam5',
  'monthVals': [75.866175035585,
                66.0749586823519,
                80.24830059517286,
                74.67965571839228,
                79.40508997024243,
                82.21503973719545,
                83.38147089918743,
                87.16920964736589,
                82.32871687290785,
                74.46576390540568,
                78.20274027684864,
                77.99664934972093],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [56.75091800547075,
                53.31639094127033,
                58.16064085686813,
                59.861475684098174,
                60.43310597145949,
                64.00183175034802,
                61.01663076323356,
                67.07528361689212,
                61.06157929497118,
                57.6495639888531,
                61.960682766694454,
                66.72966803696332],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [68.30865104894117,
                59.51534727624698,
                68.24375314071735,
                70.04723804192501,
                73.24498960443161,
                73.85814195826048,
                74.30397475182829,
                71.2621778871044,
                68.56076559818578,
                70.30446429087092,
                75.86063260984754,
                75.35865923056829],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [72.65887433334885,
                59.90038311096011,
                71.07238971444083,
                65.20149014775455,
                73.16911920942627,
                70.14514559255612,
                60.813072876748585,
                65.34938452783393,
                69.8813598506785,
                70.75446930194083,
                72.99378935417054,
                80.17350473428269],
  'toYear': 1999,
  'variable': 'pr'}]

In [37]:
# Monthly avg precipitation dataframe 
df["Precipiation(1980-1999)"] = rain_response[0]['monthVals']

# Display
df

        Month  Average Temp (1980 - 1999)  Precipiation(1980-1999)
0     January                   -9.621845                54.085429
1    February                   -8.451683                50.109668
2       March                   -3.776518                59.514374
3       April                    2.673571                65.556613
4         May                    9.254254                70.434940
5        June                   14.923076                68.001146
6        July                   18.226249                74.484280
7      August                   17.891722                74.436758
8   September                   13.545309                76.553649
9     October                    6.414062                69.602309
10   November                   -0.960048                65.110554
11   December                   -6.717319                57.897415

In [38]:
# USA mavg Temp(1940-1959) data

older_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/tas/1940/1959/USA"

older_response = requests.get(older_url).json()

pprint(older_response)

[{'fromYear': 1940,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [-10.15891557,
                -8.92103649,
                -4.480659199,
                2.211140583,
                8.659985169,
                14.12858357,
                18.06787353,
                17.69644591,
                13.25482535,
                6.582813748,
                -1.204904228,
                -7.46817439],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [-7.948959084,
                -6.97074072,
                -2.95616968,
                3.182227917,
                9.766846616,
                14.84157496,
                17.71952831,
                17.1666727,
                12.68447351,
                6.437941135,
                -0.065550198,
                -5.438898786],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'cnrm_cm3',
  'monthVals': [-6.300139506,
                -4.685753078,
                -1.702891894,
                3.813333564,
                9.504549783,
                14.59256415,
                17.70994054,
                17.35895544,
                13.58273125,
                6.848497728,
                0.093183408,
                -4.206753205],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'csiro_mk3_5',
  'monthVals': [-0.972760931,
                -0.219227589,
                2.537976615,
                7.213793291,
                13.37194147,
                18.54851777,
                21.93522389,
                21.11766376,
                16.2554835,
                9.4921668,
                3.076875263,
                -0.345982768],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [-7.700174840607259,
                -6.685582225161941,
                -3.659067624822986,
                2.276069850398391,
                8.220055634837736,
                13.62377084936533,
                16.63489385970999,
                15.51788619271957,
                10.641800497536291,
                4.51921770281442,
                -2.0692968202048188,
                -7.10879242628096],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [-6.508435408672367,
                -5.9492477455022295,
                -3.0741381942480808,
                2.932143365949164,
                9.673194790122745,
                15.518512221642139,
                17.935710726233914,
                16.83799694184798,
                12.098586465353995,
                5.787222617284333,
                -0.5722532581503689,
                -4.886018481932531],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ingv_echam4',
  'monthVals': [-3.1666466006599827,
                -1.821304549601455,
                1.4022679126765405,
                6.359289002834308,
                11.752410051534358,
                17.33907449394228,
                20.423695476272478,
                19.991574560912557,
                15.913155800683954,
                9.728802231481348,
                3.168482602087828,
                -1.6554356525073541],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'inmcm3_0',
  'monthVals': [-5.0805515660322635,
                -3.7062014534582843,
                -0.7920912364459738,
                5.037111734215132,
                10.629868352799718,
                15.232160078321796,
                17.570660978777838,
                16.715469702819213,
                12.936292919435363,
                7.133620797249641,
                0.9890802626002136,
                -2.8558122059368607],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ipsl_cm4',
  'monthVals': [-2.7564611268456596,
                -2.5632112269984493,
                -0.4412800700895385,
                4.677965577997163,
                10.369014901709768,
                15.119755390575143,
                18.172445092710827,
                17.18032410733434,
                12.549284442702314,
                6.879321167295375,
                1.8365756294073696,
                -1.6036208763985211],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'miroc3_2_medres',
  'monthVals': [-4.465466468411975,
                -3.6353184802270433,
                -0.2751595361583633,
                6.099565082654251,
                12.11006510822602,
                16.807365208193946,
                19.295244478523507,
                18.432848618809285,
                14.153888045997363,
                8.208304160252936,
                1.9107000869407622,
                -2.483564990416332],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'miub_echo_g',
  'monthVals': [-5.732262628037862,
                -4.193625737902181,
                -0.5787990503484285,
                4.236285202520973,
                8.978641804912948,
                13.36816322535712,
                16.35064507006241,
                16.072148044805065,
                13.023771595182774,
                7.319994158280807,
                1.165287464931992,
                -3.0849366223724757],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'mpi_echam5',
  'monthVals': [-5.1163518434740345,
                -3.633777532792451,
                -0.032080557578037634,
                5.372506462725027,
                10.781321156945081,
                15.460286204653837,
                17.44779690483335,
                16.484515487405897,
                12.88386333969809,
                7.0984503919652955,
                1.3521347997182331,
                -3.434013766244357],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [-6.115414664632979,
                -5.076332529883283,
                -0.7645240840775455,
                4.824504405185415,
                10.832073639752084,
                15.292461138412735,
                17.567159067660953,
                16.215633325743713,
                11.925920443639642,
                6.456719681509317,
                -0.2167943255271218,
                -4.981586408735108],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [-7.742550476530431,
                -6.137229519890272,
                -1.9394906441178108,
                4.525603981682837,
                10.416859234359107,
                15.024870075785019,
                17.54962120151318,
                16.8251393762902,
                12.575858480017372,
                6.163515086184538,
                -0.6761136328483631,
                -5.70160212718913],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [-9.127882084644972,
                -8.210788032361947,
                -4.698823962127625,
                2.0279021607940924,
                8.922831356971363,
                15.382524143134313,
                18.68490554923903,
                17.97526622591261,
                13.498103876660384,
                6.311196039443017,
                -1.228443897274872,
                -6.956172648213683],
  'toYear': 1959,
  'variable': 'tas'}]

In [39]:
df["Average Temp(1940-1959)"] = older_response[0]['monthVals']

df

,Month,Average Temp (1980 - 1999),Precipiation(1980-1999),Average Temp(1940-1959)
0,January,-9.621845,54.085429,-10.158916
1,February,-8.451683,50.109668,-8.921036
2,March,-3.776518,59.514374,-4.480659
3,April,2.673571,65.556613,2.211141
4,May,9.254254,70.434940,8.659985
5,June,14.923076,68.001146,14.128584
6,July,18.226249,74.484280,18.067874
7,August,17.891722,74.436758,17.696446
8,September,13.545309,76.553649,13.254825
9,October,6.414062,69.602309,6.582814
10,November,-0.960048,65.110554,-1.204904
11,December,-6.717319,57.897415,-7.468174

In [40]:
# USA mavg Precipitation(1940-1959) data

older_pr_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/pr/1940/1959/USA"

pr_response = requests.get(older_pr_url).json()

pprint(pr_response)

[{'fromYear': 1940,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [56.02172327,
                50.80353646,
                60.84075182,
                63.11362501,
                71.05330457,
                68.20698072,
                73.07779172,
                77.57282465,
                75.87185244,
                67.09686444,
                60.2682821,
                56.69994225],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [59.70687965,
                50.22217794,
                56.80745812,
                56.97393531,
                64.95357607,
                65.40850762,
                66.22503086,
                62.59095353,
                63.82555805,
                62.91143598,
                68.47809455,
                68.63599124],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'cnrm_cm3',
  'monthVals': [61.29284105,
                59.19459082,
                66.50607359,
                75.05226501,
                89.75626295,
                90.12803011,
                98.27676043,
                90.90166969,
                86.85312872,
                79.30432286,
                66.35923418,
                62.83732141],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'csiro_mk3_5',
  'monthVals': [67.28475006,
                62.42570941,
                66.58516325,
                63.39161009,
                67.89460724,
                67.21013562,
                64.16693077,
                64.3087888,
                70.78788562,
                67.31827506,
                67.18507055,
                70.66985814],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [67.39532602932415,
                62.26881323550375,
                72.66548294675736,
                75.02169264225431,
                87.57684100596025,
                85.59184541695193,
                73.08580487962348,
                68.27594816239147,
                72.81804431377131,
                78.18659747806961,
                74.21697608014642,
                73.62834978935146],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [69.08778212493111,
                61.615975020829644,
                70.65458886819526,
                68.41308712899104,
                72.00072483260885,
                72.21066217964837,
                71.17428372904048,
                66.91635651618907,
                68.98718303634821,
                68.21168179166817,
                72.14211561911593,
                71.22878736985008],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ingv_echam4',
  'monthVals': [74.74909354803418,
                66.04386731334942,
                76.77007809065697,
                68.18683039576483,
                66.31997956802151,
                61.896758881142226,
                64.3149328415419,
                66.8304763746356,
                67.89323122779646,
                71.96708531748165,
                80.8728040067374,
                79.22968526731765],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'inmcm3_0',
  'monthVals': [76.3605772527364,
                74.6919855940686,
                74.77705669640996,
                70.66459404737974,
                70.31373445647488,
                62.0930111863014,
                59.11451606620683,
                55.503350483512946,
                59.46739947646798,
                82.00399111273983,
                76.74926412492849,
                82.47710377319649],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ipsl_cm4',
  'monthVals': [84.13829015793688,
                74.24724257794789,
                76.69463655182415,
                69.4784766052205,
                61.56324378629258,
                58.78873625062431,
                61.78228494681758,
                63.041488296674835,
                72.57132984337572,
                82.79273344692217,
                86.87975643043491,
                88.66661854693133],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'miroc3_2_medres',
  'monthVals': [67.80283715063868,
                62.21569114314408,
                62.666217473372804,
                59.64983203821762,
                68.52937603116006,
                64.78798984590227,
                66.65222881677852,
                66.0728140019998,
                77.47633694413632,
                76.06100665661373,
                73.41464441730294,
                75.49572623102118],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'miub_echo_g',
  'monthVals': [64.64029035782843,
                56.58355731916491,
                68.67226058883445,
                68.598390481717,
                68.45848217272616,
                67.3033542977904,
                74.77576321808196,
                76.78165570462792,
                68.7078913815839,
                68.37436881267882,
                65.8561308199578,
                71.00066254442417],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'mpi_echam5',
  'monthVals': [73.45868698082597,
                66.84531439450944,
                79.0340065325903,
                74.48505420637804,
                78.37758539324821,
                78.00229223679152,
                82.76219525657443,
                88.05895993611291,
                81.20387970480161,
                75.67348763888938,
                75.18038082360381,
                77.29744536381946],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [59.166399501508224,
                49.46914982736511,
                58.01009173641993,
                58.6498233481264,
                59.23158147328771,
                62.62356296421064,
                63.27313876109744,
                67.54047890088307,
                60.16125538235519,
                56.17906160351351,
                60.78655151833633,
                65.6661702914798],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [67.08210543682122,
                59.2798454422604,
                69.31108814819325,
                68.98402909210287,
                77.54637548987435,
                71.08338106629073,
                74.04460478571944,
                73.1613498013572,
                67.53286255981634,
                73.89838669958728,
                73.75521065768805,
                74.8039888253536],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [71.54891617696373,
                62.63646347683483,
                70.46426617059683,
                67.03347033692877,
                74.59975996041811,
                71.62100482974927,
                64.95843152424736,
                68.62874247932075,
                74.45809031721704,
                74.23402718713844,
                74.15700640642847,
                71.29076157186876],
  'toYear': 1959,
  'variable': 'pr'}]

In [41]:
df["Precipitation(1940-1959)"]= pr_response[0]['monthVals']

df

df.to_csv("USA_df.csv")

,Month,Average Temp (1980 - 1999),Precipiation(1980-1999),Average Temp(1940-1959),Precipitation(1940-1959)
0,January,-9.621845,54.085429,-10.158916,56.021723
1,February,-8.451683,50.109668,-8.921036,50.803536
2,March,-3.776518,59.514374,-4.480659,60.840752
3,April,2.673571,65.556613,2.211141,63.113625
4,May,9.254254,70.434940,8.659985,71.053305
5,June,14.923076,68.001146,14.128584,68.206981
6,July,18.226249,74.484280,18.067874,73.077792
7,August,17.891722,74.436758,17.696446,77.572825
8,September,13.545309,76.553649,13.254825,75.871852
9,October,6.414062,69.602309,6.582814,67.096864
10,November,-0.960048,65.110554,-1.204904,60.268282
11,December,-6.717319,57.897415,-7.468174,56.699942

In [42]:
# AUS mavg Temp(1980-1999) data
aus_1990_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/tas/1980/1999/AUS"

aus_1990_response = requests.get(aus_1990_url).json()

pprint(aus_1990_response)

[{'fromYear': 1980,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [25.87815308,
                25.43440959,
                24.16736274,
                21.87514947,
                18.2866508,
                14.87427667,
                13.97126723,
                15.74230903,
                18.38154405,
                21.80694187,
                23.8718099,
                25.00430203],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [27.45818427,
                26.95512912,
                24.79270766,
                21.41736179,
                16.97484212,
                13.99668443,
                12.90537313,
                14.47393853,
                17.90757433,
                22.16288276,
                25.20553833,
                27.28776096],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'cnrm_cm3',
  'monthVals': [25.87554159,
                25.72962796,
                24.68752374,
                21.81241876,
                17.70755669,
                14.19596096,
                12.8844043,
                14.31070977,
                18.1670147,
                21.91184964,
                24.1938737,
                25.30712172],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'csiro_mk3_5',
  'monthVals': [29.591368,
                28.12588542,
                26.79962389,
                23.14467801,
                18.98737807,
                15.26080946,
                14.57788018,
                16.7584097,
                20.4785159,
                23.95992852,
                26.70650825,
                28.69827474],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [25.930220404731163,
                26.05456136067376,
                24.558195529511156,
                21.507012396918885,
                18.072120225696665,
                14.451387396916493,
                14.212205674913548,
                15.880426974826227,
                18.56835734049453,
                21.939164767792946,
                23.98218641493046,
                25.299819471570263],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [25.775987413196837,
                25.285480278861726,
                23.998076307507237,
                21.837520887583683,
                18.29700154622475,
                15.1359605577256,
                14.222628716360086,
                16.1932847764724,
                19.460068088106212,
                22.49629177517032,
                23.915933837890524,
                25.1875176323792],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'ingv_echam4',
  'monthVals': [26.832907307944097,
                26.250059407551728,
                25.367996690538252,
                23.34065700954606,
                20.41049546983112,
                18.13026014539956,
                17.406950547962353,
                18.77712022569529,
                21.51169121636093,
                24.616264377167365,
                25.96873548719507,
                26.856610514326313],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'inmcm3_0',
  'monthVals': [25.64241712781786,
                26.021482883025147,
                24.625156521266565,
                21.197130398220043,
                16.59017103407213,
                13.46589667425907,
                12.432928602431867,
                13.75925699869658,
                16.47182535807346,
                19.25427666557871,
                22.011647271047817,
                24.288542751736298],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'ipsl_cm4',
  'monthVals': [27.279593234591687,
                27.13822550455858,
                25.69454915364558,
                22.4361842176616,
                18.82144219292363,
                15.681979980469688,
                14.586955566406402,
                16.12209187825298,
                18.936171332463694,
                22.162236870656248,
                24.95609809028125,
                26.750476481120128],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'miroc3_2_medres',
  'monthVals': [25.41708414713403,
                25.35452338324831,
                23.544290093317404,
                20.919135470916796,
                17.518776991102087,
                15.265916341141477,
                14.607650553383788,
                16.131574028864225,
                18.724882541232045,
                21.219954833982342,
                23.267680664064088,
                24.710750732418674],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'miub_echo_g',
  'monthVals': [26.886370442708163,
                26.350266384548494,
                25.048808865017204,
                22.967126736108007,
                20.068416069878275,
                17.285936414930397,
                16.5424173990892,
                17.906279025603745,
                20.71456651475476,
                23.713871120874323,
                26.173369140628,
                26.69991807725862],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'mpi_echam5',
  'monthVals': [28.284098307290467,
                27.83927530924564,
                26.31362833658621,
                23.36080308702164,
                19.722912326389814,
                16.443780788841696,
                15.398127712671071,
                16.756477864584838,
                20.201123996307473,
                23.42237575954733,
                26.241318359376244,
                27.60094428167909],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [27.743814019096494,
                27.061642252604713,
                25.108470323347678,
                21.923755154077774,
                17.62796549479043,
                14.833663194446492,
                14.160335015188224,
                15.655704481336167,
                19.109381103514583,
                23.01218736436479,
                25.606828748914655,
                27.12919867621342],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [26.663156467010975,
                26.4941772460928,
                24.588303629555465,
                21.597329101561723,
                17.558108045787556,
                14.977686360676346,
                14.87316446940138,
                16.206240776908576,
                19.45204779730716,
                22.948334825303647,
                25.31930053710785,
                26.285722791880087],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [25.59324774848142,
                25.675730794273505,
                23.602358398435857,
                20.836659342448,
                16.948611518014264,
                13.715779215496845,
                13.026253526474441,
                14.819199354382137,
                17.473363986541774,
                20.452064887151685,
                23.260803900824936,
                25.472378607858023],
  'toYear': 1999,
  'variable': 'tas'}]

In [43]:
# Put data into list
aus_response = aus_1990_response[0]['monthVals']

#Create list of months
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

# Put into a DataFrame
df = pd.DataFrame({"AUS Month": month,
                    "Average Temp (1980 - 1999)": aus_response})

df

    AUS Month  Average Temp (1980 - 1999)
0     January                   25.878153
1    February                   25.434410
2       March                   24.167363
3       April                   21.875149
4         May                   18.286651
5        June                   14.874277
6        July                   13.971267
7      August                   15.742309
8   September                   18.381544
9     October                   21.806942
10   November                   23.871810
11   December                   25.004302

In [44]:
# AUS mavg Precipitation(1980-1999) data
aus_1990_pr_url = aus_1990_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/pr/1980/1999/AUS"

aus_1990_pr_response = requests.get(aus_1990_pr_url).json()

pprint(aus_1990_pr_response)

[{'fromYear': 1980,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [145.2147442,
                152.1000659,
                132.2469297,
                95.78192808,
                65.68873722,
                46.7608082,
                47.37453042,
                42.63793169,
                49.62307584,
                58.67578397,
                86.57668973,
                136.4244906],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [62.75995045,
                66.69719343,
                66.16181581,
                39.0572022,
                37.75383592,
                34.66583859,
                29.49465083,
                29.05384564,
                25.57699883,
                21.25628535,
                23.16091196,
                30.46213946],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'cnrm_cm3',
  'monthVals': [125.1694013,
                120.7918709,
                95.38714592,
                76.13402103,
                55.29549028,
                42.11043359,
                32.27587123,
                26.72897891,
                23.70789177,
                32.0979657,
                54.95476521,
                99.66923158],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'csiro_mk3_5',
  'monthVals': [90.60182995,
                99.41776593,
                72.44025636,
                50.50446155,
                36.17323923,
                24.47993501,
                20.10282582,
                12.30734975,
                11.39511207,
                12.63417895,
                23.78926725,
                53.76818727],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [72.19420139312149,
                69.37458182917963,
                51.22198839824563,
                24.60559168391535,
                26.295430202478723,
                30.274061128033097,
                27.98517039961083,
                26.03990667496123,
                19.429560927015757,
                15.675891489186611,
                25.05198119176968,
                53.152802927771916],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [110.70115751266572,
                130.25147977616453,
                81.51701365789701,
                41.13893758138613,
                24.359770128725035,
                29.58668308111744,
                24.681069553559063,
                19.91794492270976,
                14.090363372993826,
                19.376004718280928,
                38.339398149917,
                77.84636610773036],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ingv_echam4',
  'monthVals': [156.2530532836834,
                147.69428308700094,
                121.47358039009377,
                52.280868814255015,
                30.67290292527937,
                32.497368566206326,
                36.026083894036084,
                30.221721251537655,
                25.921288512814147,
                34.346847872202474,
                79.30232858447307,
                132.64596802183365],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'inmcm3_0',
  'monthVals': [69.73203261480799,
                60.14235422770623,
                49.25748765309735,
                45.33664722866666,
                39.84309673097267,
                30.76229953871745,
                28.739847340050137,
                30.24678103659387,
                26.218680925104813,
                32.455834744240406,
                43.49425143771493,
                61.121520462031484],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ipsl_cm4',
  'monthVals': [28.426672635082323,
                30.070463716720365,
                34.34868023554523,
                26.485373666554345,
                21.190867088637056,
                28.315041299397027,
                25.71013270218263,
                19.543930073879483,
                13.280760300259292,
                11.000317599894403,
                9.760893135168399,
                11.278294995516232],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'miroc3_2_medres',
  'monthVals': [124.65992507935424,
                103.02928855046666,
                114.76784193250887,
                67.23532497830531,
                46.13047096251553,
                46.830010032642626,
                46.68017797681421,
                43.185011600919296,
                44.053447117269144,
                58.2909434551631,
                76.4123346498382,
                109.89653952704106],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'miub_echo_g',
  'monthVals': [103.7297244665232,
                109.02453874588701,
                92.66296045937331,
                45.160875451827096,
                37.33679489558496,
                37.69562373955046,
                30.314413954013506,
                25.74929062418783,
                26.010211242571916,
                27.67369076119726,
                50.03091165011566,
                92.91707202700714],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'mpi_echam5',
  'monthVals': [79.75841159185133,
                84.74859562343201,
                66.19650085026576,
                37.20875454373009,
                40.40065218183307,
                32.39479708353931,
                24.298674712078743,
                20.043127771876886,
                11.440248175745127,
                12.476443576745835,
                25.008746020000746,
                58.79720461952044],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [50.01958101697468,
                60.06018987972632,
                42.956840303206434,
                19.20301046477236,
                19.49039753066435,
                21.505637223983786,
                15.542734696068397,
                12.855226723352562,
                8.239393176502489,
                8.23687063538411,
                14.256515981271873,
                25.80648331934234],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [112.21491721684353,
                103.95176519607024,
                82.14369948491911,
                51.89847248501331,
                38.398325763276034,
                34.048409517596696,
                36.84725610838904,
                33.47028714603612,
                24.376720427406035,
                26.04432368755247,
                42.27317051568746,
                85.03907859804704],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [104.09164574092094,
                92.05418330722485,
                100.0428467559813,
                65.49338067795821,
                43.77720390743882,
                29.95268491585364,
                30.90813913397854,
                26.46952719899775,
                24.053595230843882,
                27.505422807003992,
                34.26905133247112,
                58.58654717762898],
  'toYear': 1999,
  'variable': 'pr'}]

In [45]:
df["Monthly Precipitation (1980-1999)"] = aus_1990_pr_response[0]['monthVals']

df

    AUS Month  Average Temp (1980 - 1999)  Monthly Precipitation (1980-1999)
0     January                   25.878153                         145.214744
1    February                   25.434410                         152.100066
2       March                   24.167363                         132.246930
3       April                   21.875149                          95.781928
4         May                   18.286651                          65.688737
5        June                   14.874277                          46.760808
6        July                   13.971267                          47.374530
7      August                   15.742309                          42.637932
8   September                   18.381544                          49.623076
9     October                   21.806942                          58.675784
10   November                   23.871810                          86.576690
11   December                   25.004302                         136.424491

In [46]:
# AUS mavg Precipitation(1980-1999) data
aus_rain_url = url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/pr/1980/1999/AUS"

# Request
aus_rain_response = requests.get(rain_url).json()

# Print
pprint(rain_response)

[{'fromYear': 1980,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [54.08542875,
                50.10966809,
                59.51437374,
                65.55661286,
                70.43493967,
                68.00114649,
                74.48428044,
                74.43675767,
                76.55364909,
                69.6023086,
                65.11055405,
                57.89741514],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [62.24072027,
                57.24048448,
                60.46462325,
                59.70685447,
                65.48141856,
                67.01421827,
                68.07160133,
                65.0143177,
                66.89814055,
                64.13912761,
                71.3859928,
                70.08152903],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'cnrm_cm3',
  'monthVals': [64.41341328,
                57.52317639,
                70.80296506,
                80.30451778,
                91.53901043,
                92.17370944,
                97.61402443,
                90.73968503,
                86.94435889,
                81.82628371,
                68.19157718,
                66.61348796],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'csiro_mk3_5',
  'monthVals': [69.54382106,
                64.10854116,
                66.03073631,
                57.06770773,
                65.87576136,
                62.80174093,
                61.71441411,
                64.88963204,
                68.92178716,
                73.01945571,
                71.35768316,
                72.82132831],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [67.70539684009555,
                66.69404607521452,
                73.53323015369973,
                75.44286202790576,
                87.80408002371514,
                85.86737148616358,
                74.33899571834746,
                67.00282144423701,
                70.37529853960224,
                72.64690100463291,
                78.0702828813928,
                70.55304864042117],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [69.01938907879776,
                61.67753645785704,
                67.24041373235265,
                66.84488340269802,
                70.0378901720558,
                71.76723982033523,
                69.27571578682839,
                65.72553665185211,
                70.24607375791271,
                67.787894857791,
                74.31132623381015,
                73.19745659767283],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ingv_echam4',
  'monthVals': [75.53781141009324,
                67.44588688306365,
                76.31535922736289,
                72.10046190751959,
                66.29382928718763,
                63.77154523137134,
                66.43158188230524,
                67.94190241115275,
                66.02853500277764,
                71.69631070686488,
                77.27566852713417,
                80.90009119029303],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'inmcm3_0',
  'monthVals': [79.79844880043989,
                70.39928356371048,
                75.47476586320394,
                70.7984702973436,
                71.00259361719576,
                61.16878927734715,
                58.946363064721865,
                57.45192345597725,
                59.10409682409689,
                74.33947096322743,
                77.32978624358432,
                86.95630945886684],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ipsl_cm4',
  'monthVals': [88.98130164776434,
                73.74046005097735,
                77.09251404759203,
                70.56343242830322,
                61.12663610082266,
                59.509989849058016,
                64.25017495524042,
                65.30445049528736,
                77.00227124790844,
                85.20961761474648,
                86.11506150072886,
                91.3228435183384],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'miroc3_2_medres',
  'monthVals': [68.00793434200794,
                60.305488117913704,
                63.299396391229195,
                59.76605060510947,
                69.71610080096136,
                64.064746035604,
                67.32644301341045,
                66.21965618322736,
                76.29475272623473,
                79.37396568192196,
                72.86002911594139,
                72.11501292279327],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'miub_echo_g',
  'monthVals': [66.90209335937051,
                60.391853955618934,
                67.81135737925635,
                68.8607179767888,
                70.95810122500687,
                67.31559600831432,
                76.88418792207048,
                77.47638037742304,
                70.97665131537349,
                71.29305537322968,
                68.0377573253467,
                70.50053482816055],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'mpi_echam5',
  'monthVals': [75.866175035585,
                66.0749586823519,
                80.24830059517286,
                74.67965571839228,
                79.40508997024243,
                82.21503973719545,
                83.38147089918743,
                87.16920964736589,
                82.32871687290785,
                74.46576390540568,
                78.20274027684864,
                77.99664934972093],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [56.75091800547075,
                53.31639094127033,
                58.16064085686813,
                59.861475684098174,
                60.43310597145949,
                64.00183175034802,
                61.01663076323356,
                67.07528361689212,
                61.06157929497118,
                57.6495639888531,
                61.960682766694454,
                66.72966803696332],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [68.30865104894117,
                59.51534727624698,
                68.24375314071735,
                70.04723804192501,
                73.24498960443161,
                73.85814195826048,
                74.30397475182829,
                71.2621778871044,
                68.56076559818578,
                70.30446429087092,
                75.86063260984754,
                75.35865923056829],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [72.65887433334885,
                59.90038311096011,
                71.07238971444083,
                65.20149014775455,
                73.16911920942627,
                70.14514559255612,
                60.813072876748585,
                65.34938452783393,
                69.8813598506785,
                70.75446930194083,
                72.99378935417054,
                80.17350473428269],
  'toYear': 1999,
  'variable': 'pr'}]

In [47]:
# AUS mavg precipitation dataframe 
df["Precipiation(1980-1999)"] = aus_rain_response[0]['monthVals']

# Display
df

,AUS Month,Average Temp (1980 - 1999),Monthly Precipitation (1980-1999),Precipiation(1980-1999)
0,January,25.878153,145.214744,54.085429
1,February,25.434410,152.100066,50.109668
2,March,24.167363,132.246930,59.514374
3,April,21.875149,95.781928,65.556613
4,May,18.286651,65.688737,70.434940
5,June,14.874277,46.760808,68.001146
6,July,13.971267,47.374530,74.484280
7,August,15.742309,42.637932,74.436758
8,September,18.381544,49.623076,76.553649
9,October,21.806942,58.675784,69.602309
10,November,23.871810,86.576690,65.110554
11,December,25.004302,136.424491,57.897415

In [48]:
# AUS mavg Temp(1940-1959) data

aus_older_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/tas/1940/1959/AUS"

aus_older_response = requests.get(older_url).json()

pprint(aus_older_response)

[{'fromYear': 1940,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [-10.15891557,
                -8.92103649,
                -4.480659199,
                2.211140583,
                8.659985169,
                14.12858357,
                18.06787353,
                17.69644591,
                13.25482535,
                6.582813748,
                -1.204904228,
                -7.46817439],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [-7.948959084,
                -6.97074072,
                -2.95616968,
                3.182227917,
                9.766846616,
                14.84157496,
                17.71952831,
                17.1666727,
                12.68447351,
                6.437941135,
                -0.065550198,
                -5.438898786],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'cnrm_cm3',
  'monthVals': [-6.300139506,
                -4.685753078,
                -1.702891894,
                3.813333564,
                9.504549783,
                14.59256415,
                17.70994054,
                17.35895544,
                13.58273125,
                6.848497728,
                0.093183408,
                -4.206753205],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'csiro_mk3_5',
  'monthVals': [-0.972760931,
                -0.219227589,
                2.537976615,
                7.213793291,
                13.37194147,
                18.54851777,
                21.93522389,
                21.11766376,
                16.2554835,
                9.4921668,
                3.076875263,
                -0.345982768],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [-7.700174840607259,
                -6.685582225161941,
                -3.659067624822986,
                2.276069850398391,
                8.220055634837736,
                13.62377084936533,
                16.63489385970999,
                15.51788619271957,
                10.641800497536291,
                4.51921770281442,
                -2.0692968202048188,
                -7.10879242628096],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [-6.508435408672367,
                -5.9492477455022295,
                -3.0741381942480808,
                2.932143365949164,
                9.673194790122745,
                15.518512221642139,
                17.935710726233914,
                16.83799694184798,
                12.098586465353995,
                5.787222617284333,
                -0.5722532581503689,
                -4.886018481932531],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ingv_echam4',
  'monthVals': [-3.1666466006599827,
                -1.821304549601455,
                1.4022679126765405,
                6.359289002834308,
                11.752410051534358,
                17.33907449394228,
                20.423695476272478,
                19.991574560912557,
                15.913155800683954,
                9.728802231481348,
                3.168482602087828,
                -1.6554356525073541],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'inmcm3_0',
  'monthVals': [-5.0805515660322635,
                -3.7062014534582843,
                -0.7920912364459738,
                5.037111734215132,
                10.629868352799718,
                15.232160078321796,
                17.570660978777838,
                16.715469702819213,
                12.936292919435363,
                7.133620797249641,
                0.9890802626002136,
                -2.8558122059368607],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ipsl_cm4',
  'monthVals': [-2.7564611268456596,
                -2.5632112269984493,
                -0.4412800700895385,
                4.677965577997163,
                10.369014901709768,
                15.119755390575143,
                18.172445092710827,
                17.18032410733434,
                12.549284442702314,
                6.879321167295375,
                1.8365756294073696,
                -1.6036208763985211],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'miroc3_2_medres',
  'monthVals': [-4.465466468411975,
                -3.6353184802270433,
                -0.2751595361583633,
                6.099565082654251,
                12.11006510822602,
                16.807365208193946,
                19.295244478523507,
                18.432848618809285,
                14.153888045997363,
                8.208304160252936,
                1.9107000869407622,
                -2.483564990416332],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'miub_echo_g',
  'monthVals': [-5.732262628037862,
                -4.193625737902181,
                -0.5787990503484285,
                4.236285202520973,
                8.978641804912948,
                13.36816322535712,
                16.35064507006241,
                16.072148044805065,
                13.023771595182774,
                7.319994158280807,
                1.165287464931992,
                -3.0849366223724757],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'mpi_echam5',
  'monthVals': [-5.1163518434740345,
                -3.633777532792451,
                -0.032080557578037634,
                5.372506462725027,
                10.781321156945081,
                15.460286204653837,
                17.44779690483335,
                16.484515487405897,
                12.88386333969809,
                7.0984503919652955,
                1.3521347997182331,
                -3.434013766244357],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [-6.115414664632979,
                -5.076332529883283,
                -0.7645240840775455,
                4.824504405185415,
                10.832073639752084,
                15.292461138412735,
                17.567159067660953,
                16.215633325743713,
                11.925920443639642,
                6.456719681509317,
                -0.2167943255271218,
                -4.981586408735108],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [-7.742550476530431,
                -6.137229519890272,
                -1.9394906441178108,
                4.525603981682837,
                10.416859234359107,
                15.024870075785019,
                17.54962120151318,
                16.8251393762902,
                12.575858480017372,
                6.163515086184538,
                -0.6761136328483631,
                -5.70160212718913],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [-9.127882084644972,
                -8.210788032361947,
                -4.698823962127625,
                2.0279021607940924,
                8.922831356971363,
                15.382524143134313,
                18.68490554923903,
                17.97526622591261,
                13.498103876660384,
                6.311196039443017,
                -1.228443897274872,
                -6.956172648213683],
  'toYear': 1959,
  'variable': 'tas'}]

In [49]:
# AUS mavg Temp 1940-1959 
df["Average Temp(1940-1959)"] = aus_older_response[0]['monthVals']

df

,AUS Month,Average Temp (1980 - 1999),Monthly Precipitation (1980-1999),Precipiation(1980-1999),Average Temp(1940-1959)
0,January,25.878153,145.214744,54.085429,-10.158916
1,February,25.434410,152.100066,50.109668,-8.921036
2,March,24.167363,132.246930,59.514374,-4.480659
3,April,21.875149,95.781928,65.556613,2.211141
4,May,18.286651,65.688737,70.434940,8.659985
5,June,14.874277,46.760808,68.001146,14.128584
6,July,13.971267,47.374530,74.484280,18.067874
7,August,15.742309,42.637932,74.436758,17.696446
8,September,18.381544,49.623076,76.553649,13.254825
9,October,21.806942,58.675784,69.602309,6.582814
10,November,23.871810,86.576690,65.110554,-1.204904
11,December,25.004302,136.424491,57.897415,-7.468174

In [50]:
# AUS mavg Precipitation(1940-1959) data

aus_older_pr_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/pr/1940/1959/AUS"

aus_pr_response = requests.get(older_pr_url).json()

pprint(aus_pr_response)

[{'fromYear': 1940,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [56.02172327,
                50.80353646,
                60.84075182,
                63.11362501,
                71.05330457,
                68.20698072,
                73.07779172,
                77.57282465,
                75.87185244,
                67.09686444,
                60.2682821,
                56.69994225],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [59.70687965,
                50.22217794,
                56.80745812,
                56.97393531,
                64.95357607,
                65.40850762,
                66.22503086,
                62.59095353,
                63.82555805,
                62.91143598,
                68.47809455,
                68.63599124],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'cnrm_cm3',
  'monthVals': [61.29284105,
                59.19459082,
                66.50607359,
                75.05226501,
                89.75626295,
                90.12803011,
                98.27676043,
                90.90166969,
                86.85312872,
                79.30432286,
                66.35923418,
                62.83732141],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'csiro_mk3_5',
  'monthVals': [67.28475006,
                62.42570941,
                66.58516325,
                63.39161009,
                67.89460724,
                67.21013562,
                64.16693077,
                64.3087888,
                70.78788562,
                67.31827506,
                67.18507055,
                70.66985814],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [67.39532602932415,
                62.26881323550375,
                72.66548294675736,
                75.02169264225431,
                87.57684100596025,
                85.59184541695193,
                73.08580487962348,
                68.27594816239147,
                72.81804431377131,
                78.18659747806961,
                74.21697608014642,
                73.62834978935146],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [69.08778212493111,
                61.615975020829644,
                70.65458886819526,
                68.41308712899104,
                72.00072483260885,
                72.21066217964837,
                71.17428372904048,
                66.91635651618907,
                68.98718303634821,
                68.21168179166817,
                72.14211561911593,
                71.22878736985008],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ingv_echam4',
  'monthVals': [74.74909354803418,
                66.04386731334942,
                76.77007809065697,
                68.18683039576483,
                66.31997956802151,
                61.896758881142226,
                64.3149328415419,
                66.8304763746356,
                67.89323122779646,
                71.96708531748165,
                80.8728040067374,
                79.22968526731765],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'inmcm3_0',
  'monthVals': [76.3605772527364,
                74.6919855940686,
                74.77705669640996,
                70.66459404737974,
                70.31373445647488,
                62.0930111863014,
                59.11451606620683,
                55.503350483512946,
                59.46739947646798,
                82.00399111273983,
                76.74926412492849,
                82.47710377319649],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ipsl_cm4',
  'monthVals': [84.13829015793688,
                74.24724257794789,
                76.69463655182415,
                69.4784766052205,
                61.56324378629258,
                58.78873625062431,
                61.78228494681758,
                63.041488296674835,
                72.57132984337572,
                82.79273344692217,
                86.87975643043491,
                88.66661854693133],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'miroc3_2_medres',
  'monthVals': [67.80283715063868,
                62.21569114314408,
                62.666217473372804,
                59.64983203821762,
                68.52937603116006,
                64.78798984590227,
                66.65222881677852,
                66.0728140019998,
                77.47633694413632,
                76.06100665661373,
                73.41464441730294,
                75.49572623102118],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'miub_echo_g',
  'monthVals': [64.64029035782843,
                56.58355731916491,
                68.67226058883445,
                68.598390481717,
                68.45848217272616,
                67.3033542977904,
                74.77576321808196,
                76.78165570462792,
                68.7078913815839,
                68.37436881267882,
                65.8561308199578,
                71.00066254442417],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'mpi_echam5',
  'monthVals': [73.45868698082597,
                66.84531439450944,
                79.0340065325903,
                74.48505420637804,
                78.37758539324821,
                78.00229223679152,
                82.76219525657443,
                88.05895993611291,
                81.20387970480161,
                75.67348763888938,
                75.18038082360381,
                77.29744536381946],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [59.166399501508224,
                49.46914982736511,
                58.01009173641993,
                58.6498233481264,
                59.23158147328771,
                62.62356296421064,
                63.27313876109744,
                67.54047890088307,
                60.16125538235519,
                56.17906160351351,
                60.78655151833633,
                65.6661702914798],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [67.08210543682122,
                59.2798454422604,
                69.31108814819325,
                68.98402909210287,
                77.54637548987435,
                71.08338106629073,
                74.04460478571944,
                73.1613498013572,
                67.53286255981634,
                73.89838669958728,
                73.75521065768805,
                74.8039888253536],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [71.54891617696373,
                62.63646347683483,
                70.46426617059683,
                67.03347033692877,
                74.59975996041811,
                71.62100482974927,
                64.95843152424736,
                68.62874247932075,
                74.45809031721704,
                74.23402718713844,
                74.15700640642847,
                71.29076157186876],
  'toYear': 1959,
  'variable': 'pr'}]

In [51]:
# AUS mavg Precipitation(1940-1959) df
df["Precipitation(1940-1959)"]= aus_pr_response[0]['monthVals']

df

df.to_csv("AUS_df.csv")

,AUS Month,Average Temp (1980 - 1999),Monthly Precipitation (1980-1999),Precipiation(1980-1999),Average Temp(1940-1959),Precipitation(1940-1959)
0,January,25.878153,145.214744,54.085429,-10.158916,56.021723
1,February,25.434410,152.100066,50.109668,-8.921036,50.803536
2,March,24.167363,132.246930,59.514374,-4.480659,60.840752
3,April,21.875149,95.781928,65.556613,2.211141,63.113625
4,May,18.286651,65.688737,70.434940,8.659985,71.053305
5,June,14.874277,46.760808,68.001146,14.128584,68.206981
6,July,13.971267,47.374530,74.484280,18.067874,73.077792
7,August,15.742309,42.637932,74.436758,17.696446,77.572825
8,September,18.381544,49.623076,76.553649,13.254825,75.871852
9,October,21.806942,58.675784,69.602309,6.582814,67.096864
10,November,23.871810,86.576690,65.110554,-1.204904,60.268282
11,December,25.004302,136.424491,57.897415,-7.468174,56.699942

In [52]:
daily_min_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/tas/1980/1999/USA"

response = requests.get(past_url).json()


pprint(response)

[{'fromYear': 1920,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [-10.61768879,
                -8.407692545,
                -4.116470908,
                2.330464732,
                8.79204721,
                14.26015573,
                17.92173231,
                17.58278399,
                13.33264472,
                6.479564486,
                -1.224032243,
                -7.690621583],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [-7.637799536,
                -7.092528003,
                -2.944350169,
                3.280084929,
                9.396691149,
                14.40580571,
                17.40768326,
                17.18583843,
                12.63803991,
                6.334863753,
                -0.079385201,
                -5.376437446],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'cnrm_cm3',
  'monthVals': [-6.415732633,
                -5.443294459,
                -1.887436065,
                3.565436803,
                9.30053163,
                14.48591382,
                17.46303378,
                17.28528441,
                13.60676959,
                7.067572311,
                0.152393826,
                -4.394156744],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'csiro_mk3_5',
  'monthVals': [-0.917527234,
                -0.261690401,
                2.076733368,
                7.365652603,
                13.31720283,
                18.5758686,
                21.79493725,
                21.03127466,
                16.08333011,
                9.439651756,
                3.173172948,
                -0.427778249],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [-8.307876206395411,
                -7.10510135945682,
                -3.575152390022079,
                2.335891076750619,
                8.32786951992535,
                13.526653109049638,
                16.352346672381685,
                15.293944018737738,
                10.736861231321683,
                3.970291936782056,
                -1.6538668511209595,
                -6.812898631107875],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [-6.769519910551591,
                -6.116571973388565,
                -2.6532203883613046,
                3.2023426541077624,
                9.660916601927847,
                15.2269848754565,
                18.02377722685243,
                16.74570782820676,
                12.081169680169666,
                5.650686896651165,
                -0.346638933975771,
                -5.24967819556386],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'ingv_echam4',
  'monthVals': [-3.2149072204747178,
                -2.134677344723761,
                1.4534315836995968,
                6.6153206004757585,
                11.804273876465693,
                17.178341149689835,
                20.105214183169185,
                19.796684436368974,
                15.831187716742761,
                9.454850422769997,
                2.957571662273088,
                -1.4727736018850346],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'inmcm3_0',
  'monthVals': [-5.444245564372629,
                -4.458109334817314,
                -0.8579028883487662,
                4.626148480726526,
                10.284913631449971,
                15.049831247683779,
                17.40687245204866,
                16.50703532915686,
                12.652063231812907,
                6.988139240521481,
                0.7465815746279506,
                -3.5646784680147574],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'ipsl_cm4',
  'monthVals': [-3.0689886763797203,
                -2.6700669286260834,
                -0.049790341955636544,
                4.214757296212486,
                10.002366063600688,
                15.139412668281231,
                17.97580618156877,
                17.139661146815435,
                12.587190623295035,
                6.699852998119318,
                1.177000050532082,
                -1.7583655454871356],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'miroc3_2_medres',
  'monthVals': [-3.5633325743259805,
                -3.33307934996593,
                -0.3693826727728962,
                5.6882213107383555,
                12.032144142206365,
                17.161294076212325,
                19.168289755347118,
                18.12672801029715,
                14.029075945998464,
                8.236610697986764,
                2.1608281313927895,
                -2.078090030356063],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'miub_echo_g',
  'monthVals': [-5.571299032084054,
                -4.362196277800084,
                -0.8286299099046455,
                3.806067754502349,
                8.710686586146394,
                13.139065787676323,
                16.034147647850254,
                15.846662411963809,
                12.67898650894509,
                7.115181026315947,
                0.9145399745254753,
                -3.7718262708092425],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'mpi_echam5',
  'monthVals': [-5.269524819238396,
                -4.206487983838295,
                -0.19287695373563885,
                5.453509628029355,
                10.821119503486297,
                15.363507810673907,
                17.492932098462074,
                16.608176519149815,
                12.677604466006924,
                6.818094153653849,
                0.29616502871161565,
                -4.038192140195678],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [-6.200873206084645,
                -5.232220999319484,
                -1.4219225267529334,
                4.53724598111557,
                10.558046336186479,
                15.232749349159993,
                17.602689823904058,
                16.169404674350126,
                11.975545906960884,
                6.271906179680223,
                -0.07758690888861564,
                -4.973110360695806],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [-7.738257810064471,
                -6.72234936188405,
                -2.4054434531349327,
                4.586393094716265,
                10.553699674156304,
                14.903954180101108,
                17.61869085221444,
                16.749476711054253,
                12.811891322717397,
                6.428958274480919,
                -0.38862217929324727,
                -5.895854160375064],
  'toYear': 1939,
  'variable': 'tas'},
 {'fromYear': 1920,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [-9.262205204762163,
                -8.460088677536113,
                -4.2404419478029975,
                2.172895930948344,
                9.145626762561486,
                15.330325005354526,
                18.76756107777613,
                18.102965243140947,
                13.58474282433603,
                6.29165337389005,
                -1.437783029610154,
                -6.803700777657883],
  'toYear': 1939,
  'variable': 'tas'}]

In [53]:
future_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/cru/var/1901/2012/USA"

response = requests.get(future_url).json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)