In [1]:
import requests
import json
from pprint import pprint
import pandas as pd
import time

In [2]:
# Call the data
url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/tas/1980/1999/USA"
request = requests.get(url).json()

pprint(request)

[{'fromYear': 1980,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [-9.621845312,
                -8.451683216,
                -3.776517949,
                2.673571047,
                9.254254044,
                14.92307569,
                18.22624865,
                17.89172173,
                13.54530909,
                6.4140625,
                -0.960047543,
                -6.717318604],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [-6.553893777,
                -5.332240573,
                -2.262895617,
                4.144794417,
                10.43134656,
                15.54186235,
                18.57953779,
                18.14592166,
                13.77229693,
                7.328321195,
                1.313856624,
                -3.455933721],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'cnrm_cm3',
  'monthVals': [-5.330243422,
                -4.215476514,
                -0.709827299,
                4.470434098,
                10.08891696,
                15.22743937,
                18.26270094,
                18.04942866,
                14.16615923,
                7.522808731,
                1.039261207,
                -3.413833466],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'csiro_mk3_5',
  'monthVals': [-0.139015673,
                0.73596492,
                3.229521754,
                7.71419078,
                14.06583068,
                19.51112963,
                22.76577698,
                22.15372427,
                17.0463237,
                10.20206655,
                3.977919961,
                1.121230356],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [-7.6333226610595855,
                -6.176652675259838,
                -3.0938516745246973,
                2.3068265463055933,
                8.531947109764134,
                13.655663697201172,
                16.383520797006717,
                15.581162678628464,
                10.82323609920257,
                4.625519483760673,
                -1.7966055548993696,
                -6.4836323041267905],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [-6.557654934929099,
                -5.175885017375426,
                -1.977376048403898,
                3.210390086185563,
                9.847922536798679,
                15.796591285458094,
                18.250409590036796,
                17.166346067205442,
                12.308776855468373,
                5.997367040771729,
                -0.3406461111634678,
                -5.0880507852086785],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'ingv_echam4',
  'monthVals': [-2.690718881507859,
                -1.6851125132114,
                1.4117349829163977,
                6.440022076156373,
                12.246585912537666,
                17.563830368533594,
                20.77171611072342,
                20.361977061132432,
                16.52609998745773,
                10.079823482065807,
                3.3730390743730965,
                -1.3471836461094642],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'inmcm3_0',
  'monthVals': [-4.114518011003955,
                -2.7722664545315667,
                -0.04657385771316553,
                5.494556836058215,
                11.04537735556168,
                15.82081935054711,
                17.964166959919268,
                17.142590986521032,
                13.21833485439153,
                7.53343798097626,
                1.5514886337605571,
                -2.583340499764626],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'ipsl_cm4',
  'monthVals': [-2.232596342701506,
                -1.498004180831118,
                1.6547280023821807,
                5.661785401607326,
                10.896509641425698,
                15.693228020036383,
                18.641606357032153,
                17.68116855383606,
                13.310732948510834,
                7.5219533259134534,
                2.1196503674899816,
                -1.4132834265654053],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'miroc3_2_medres',
  'monthVals': [-3.777629176875919,
                -2.886909123370383,
                -0.03094284552439624,
                5.794512056650403,
                12.110616555534644,
                17.150267869754142,
                19.42172964195926,
                18.411704275077533,
                14.240836963986634,
                8.257362727213629,
                2.5276634615835136,
                -1.6978957254707514],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'miub_echo_g',
  'monthVals': [-4.668362320213464,
                -4.219703236721953,
                -0.8687012784206462,
                4.254058761787042,
                8.947954591671206,
                13.48694410823527,
                16.37255943089069,
                16.19947742642709,
                13.021979048959047,
                7.581291826584982,
                1.6151181266203944,
                -2.7321959992599605],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'mpi_echam5',
  'monthVals': [-4.393339732637592,
                -3.235453731699414,
                0.5172552931636122,
                5.912568356330151,
                11.27223856252832,
                15.61687349618933,
                17.764789305424056,
                16.89901520308167,
                13.2590143294118,
                7.125628235924938,
                0.9801276152272479,
                -3.333559031499355],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [-5.973217895204234,
                -4.37538637841395,
                -0.7080880638370131,
                5.05456843578384,
                11.015379946130807,
                15.573387545539855,
                18.126915758089687,
                16.59711728369561,
                12.704374013693963,
                6.82066364240718,
                0.4641243799059411,
                -4.35243472434639],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [-6.760152269777205,
                -5.389169897521692,
                -0.9459883007327025,
                5.106827124694181,
                10.901653185153164,
                15.655107303154542,
                18.110980407257514,
                17.455145248448584,
                13.477729093402829,
                6.884845533870224,
                0.2145729730843671,
                -4.745271868242293],
  'toYear': 1999,
  'variable': 'tas'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [-8.820540506644182,
                -7.89700808251787,
                -3.760513457870631,
                2.91382425741208,
                9.795256731219249,
                16.0273398687101,
                19.396396323032537,
                18.60503267587582,
                14.20230833134358,
                6.747198623313895,
                -0.8353054969394268,
                -6.30480991278008],
  'toYear': 1999,
  'variable': 'tas'}]

In [3]:
# Put data into list
usa_temp_mavg = request[0]['monthVals']

#Create list of months
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

#Put into a DataFrame
df = pd.DataFrame({"Month": month,
                   "Average Temp (1980 - 1999)": usa_temp_mavg})
df

        Month  Average Temp (1980 - 1999)
0     January                   -9.621845
1    February                   -8.451683
2       March                   -3.776518
3       April                    2.673571
4         May                    9.254254
5        June                   14.923076
6        July                   18.226249
7      August                   17.891722
8   September                   13.545309
9     October                    6.414062
10   November                   -0.960048
11   December                   -6.717319

In [4]:
# Call precipitation data
rain_url = url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/pr/1980/1999/USA"

# Request
rain_response = requests.get(rain_url).json()

# Print
pprint(rain_response)

[{'fromYear': 1980,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [54.08542875,
                50.10966809,
                59.51437374,
                65.55661286,
                70.43493967,
                68.00114649,
                74.48428044,
                74.43675767,
                76.55364909,
                69.6023086,
                65.11055405,
                57.89741514],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [62.24072027,
                57.24048448,
                60.46462325,
                59.70685447,
                65.48141856,
                67.01421827,
                68.07160133,
                65.0143177,
                66.89814055,
                64.13912761,
                71.3859928,
                70.08152903],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'cnrm_cm3',
  'monthVals': [64.41341328,
                57.52317639,
                70.80296506,
                80.30451778,
                91.53901043,
                92.17370944,
                97.61402443,
                90.73968503,
                86.94435889,
                81.82628371,
                68.19157718,
                66.61348796],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'csiro_mk3_5',
  'monthVals': [69.54382106,
                64.10854116,
                66.03073631,
                57.06770773,
                65.87576136,
                62.80174093,
                61.71441411,
                64.88963204,
                68.92178716,
                73.01945571,
                71.35768316,
                72.82132831],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [67.70539684009555,
                66.69404607521452,
                73.53323015369973,
                75.44286202790576,
                87.80408002371514,
                85.86737148616358,
                74.33899571834746,
                67.00282144423701,
                70.37529853960224,
                72.64690100463291,
                78.0702828813928,
                70.55304864042117],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [69.01938907879776,
                61.67753645785704,
                67.24041373235265,
                66.84488340269802,
                70.0378901720558,
                71.76723982033523,
                69.27571578682839,
                65.72553665185211,
                70.24607375791271,
                67.787894857791,
                74.31132623381015,
                73.19745659767283],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ingv_echam4',
  'monthVals': [75.53781141009324,
                67.44588688306365,
                76.31535922736289,
                72.10046190751959,
                66.29382928718763,
                63.77154523137134,
                66.43158188230524,
                67.94190241115275,
                66.02853500277764,
                71.69631070686488,
                77.27566852713417,
                80.90009119029303],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'inmcm3_0',
  'monthVals': [79.79844880043989,
                70.39928356371048,
                75.47476586320394,
                70.7984702973436,
                71.00259361719576,
                61.16878927734715,
                58.946363064721865,
                57.45192345597725,
                59.10409682409689,
                74.33947096322743,
                77.32978624358432,
                86.95630945886684],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ipsl_cm4',
  'monthVals': [88.98130164776434,
                73.74046005097735,
                77.09251404759203,
                70.56343242830322,
                61.12663610082266,
                59.509989849058016,
                64.25017495524042,
                65.30445049528736,
                77.00227124790844,
                85.20961761474648,
                86.11506150072886,
                91.3228435183384],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'miroc3_2_medres',
  'monthVals': [68.00793434200794,
                60.305488117913704,
                63.299396391229195,
                59.76605060510947,
                69.71610080096136,
                64.064746035604,
                67.32644301341045,
                66.21965618322736,
                76.29475272623473,
                79.37396568192196,
                72.86002911594139,
                72.11501292279327],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'miub_echo_g',
  'monthVals': [66.90209335937051,
                60.391853955618934,
                67.81135737925635,
                68.8607179767888,
                70.95810122500687,
                67.31559600831432,
                76.88418792207048,
                77.47638037742304,
                70.97665131537349,
                71.29305537322968,
                68.0377573253467,
                70.50053482816055],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'mpi_echam5',
  'monthVals': [75.866175035585,
                66.0749586823519,
                80.24830059517286,
                74.67965571839228,
                79.40508997024243,
                82.21503973719545,
                83.38147089918743,
                87.16920964736589,
                82.32871687290785,
                74.46576390540568,
                78.20274027684864,
                77.99664934972093],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [56.75091800547075,
                53.31639094127033,
                58.16064085686813,
                59.861475684098174,
                60.43310597145949,
                64.00183175034802,
                61.01663076323356,
                67.07528361689212,
                61.06157929497118,
                57.6495639888531,
                61.960682766694454,
                66.72966803696332],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [68.30865104894117,
                59.51534727624698,
                68.24375314071735,
                70.04723804192501,
                73.24498960443161,
                73.85814195826048,
                74.30397475182829,
                71.2621778871044,
                68.56076559818578,
                70.30446429087092,
                75.86063260984754,
                75.35865923056829],
  'toYear': 1999,
  'variable': 'pr'},
 {'fromYear': 1980,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [72.65887433334885,
                59.90038311096011,
                71.07238971444083,
                65.20149014775455,
                73.16911920942627,
                70.14514559255612,
                60.813072876748585,
                65.34938452783393,
                69.8813598506785,
                70.75446930194083,
                72.99378935417054,
                80.17350473428269],
  'toYear': 1999,
  'variable': 'pr'}]

In [5]:
# Monthly avg precipitation dataframe 
df["Precipiation(1980-1999)"] = rain_response[0]['monthVals']

# Display
df

        Month  Average Temp (1980 - 1999)  Precipiation(1980-1999)
0     January                   -9.621845                54.085429
1    February                   -8.451683                50.109668
2       March                   -3.776518                59.514374
3       April                    2.673571                65.556613
4         May                    9.254254                70.434940
5        June                   14.923076                68.001146
6        July                   18.226249                74.484280
7      August                   17.891722                74.436758
8   September                   13.545309                76.553649
9     October                    6.414062                69.602309
10   November                   -0.960048                65.110554
11   December                   -6.717319                57.897415

In [6]:
# Yearly info 

older_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/tas/1940/1959/USA"

older_response = requests.get(older_url).json()

pprint(older_response)

[{'fromYear': 1940,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [-10.15891557,
                -8.92103649,
                -4.480659199,
                2.211140583,
                8.659985169,
                14.12858357,
                18.06787353,
                17.69644591,
                13.25482535,
                6.582813748,
                -1.204904228,
                -7.46817439],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [-7.948959084,
                -6.97074072,
                -2.95616968,
                3.182227917,
                9.766846616,
                14.84157496,
                17.71952831,
                17.1666727,
                12.68447351,
                6.437941135,
                -0.065550198,
                -5.438898786],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'cnrm_cm3',
  'monthVals': [-6.300139506,
                -4.685753078,
                -1.702891894,
                3.813333564,
                9.504549783,
                14.59256415,
                17.70994054,
                17.35895544,
                13.58273125,
                6.848497728,
                0.093183408,
                -4.206753205],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'csiro_mk3_5',
  'monthVals': [-0.972760931,
                -0.219227589,
                2.537976615,
                7.213793291,
                13.37194147,
                18.54851777,
                21.93522389,
                21.11766376,
                16.2554835,
                9.4921668,
                3.076875263,
                -0.345982768],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [-7.700174840607259,
                -6.685582225161941,
                -3.659067624822986,
                2.276069850398391,
                8.220055634837736,
                13.62377084936533,
                16.63489385970999,
                15.51788619271957,
                10.641800497536291,
                4.51921770281442,
                -2.0692968202048188,
                -7.10879242628096],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [-6.508435408672367,
                -5.9492477455022295,
                -3.0741381942480808,
                2.932143365949164,
                9.673194790122745,
                15.518512221642139,
                17.935710726233914,
                16.83799694184798,
                12.098586465353995,
                5.787222617284333,
                -0.5722532581503689,
                -4.886018481932531],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ingv_echam4',
  'monthVals': [-3.1666466006599827,
                -1.821304549601455,
                1.4022679126765405,
                6.359289002834308,
                11.752410051534358,
                17.33907449394228,
                20.423695476272478,
                19.991574560912557,
                15.913155800683954,
                9.728802231481348,
                3.168482602087828,
                -1.6554356525073541],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'inmcm3_0',
  'monthVals': [-5.0805515660322635,
                -3.7062014534582843,
                -0.7920912364459738,
                5.037111734215132,
                10.629868352799718,
                15.232160078321796,
                17.570660978777838,
                16.715469702819213,
                12.936292919435363,
                7.133620797249641,
                0.9890802626002136,
                -2.8558122059368607],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ipsl_cm4',
  'monthVals': [-2.7564611268456596,
                -2.5632112269984493,
                -0.4412800700895385,
                4.677965577997163,
                10.369014901709768,
                15.119755390575143,
                18.172445092710827,
                17.18032410733434,
                12.549284442702314,
                6.879321167295375,
                1.8365756294073696,
                -1.6036208763985211],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'miroc3_2_medres',
  'monthVals': [-4.465466468411975,
                -3.6353184802270433,
                -0.2751595361583633,
                6.099565082654251,
                12.11006510822602,
                16.807365208193946,
                19.295244478523507,
                18.432848618809285,
                14.153888045997363,
                8.208304160252936,
                1.9107000869407622,
                -2.483564990416332],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'miub_echo_g',
  'monthVals': [-5.732262628037862,
                -4.193625737902181,
                -0.5787990503484285,
                4.236285202520973,
                8.978641804912948,
                13.36816322535712,
                16.35064507006241,
                16.072148044805065,
                13.023771595182774,
                7.319994158280807,
                1.165287464931992,
                -3.0849366223724757],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'mpi_echam5',
  'monthVals': [-5.1163518434740345,
                -3.633777532792451,
                -0.032080557578037634,
                5.372506462725027,
                10.781321156945081,
                15.460286204653837,
                17.44779690483335,
                16.484515487405897,
                12.88386333969809,
                7.0984503919652955,
                1.3521347997182331,
                -3.434013766244357],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [-6.115414664632979,
                -5.076332529883283,
                -0.7645240840775455,
                4.824504405185415,
                10.832073639752084,
                15.292461138412735,
                17.567159067660953,
                16.215633325743713,
                11.925920443639642,
                6.456719681509317,
                -0.2167943255271218,
                -4.981586408735108],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [-7.742550476530431,
                -6.137229519890272,
                -1.9394906441178108,
                4.525603981682837,
                10.416859234359107,
                15.024870075785019,
                17.54962120151318,
                16.8251393762902,
                12.575858480017372,
                6.163515086184538,
                -0.6761136328483631,
                -5.70160212718913],
  'toYear': 1959,
  'variable': 'tas'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [-9.127882084644972,
                -8.210788032361947,
                -4.698823962127625,
                2.0279021607940924,
                8.922831356971363,
                15.382524143134313,
                18.68490554923903,
                17.97526622591261,
                13.498103876660384,
                6.311196039443017,
                -1.228443897274872,
                -6.956172648213683],
  'toYear': 1959,
  'variable': 'tas'}]

In [7]:
df["Average Temp(1940-1959)"] = older_response[0]['monthVals']

df

,Month,Average Temp (1980 - 1999),Precipiation(1980-1999),Average Temp(1940-1959)
0,January,-9.621845,54.085429,-10.158916
1,February,-8.451683,50.109668,-8.921036
2,March,-3.776518,59.514374,-4.480659
3,April,2.673571,65.556613,2.211141
4,May,9.254254,70.434940,8.659985
5,June,14.923076,68.001146,14.128584
6,July,18.226249,74.484280,18.067874
7,August,17.891722,74.436758,17.696446
8,September,13.545309,76.553649,13.254825
9,October,6.414062,69.602309,6.582814
10,November,-0.960048,65.110554,-1.204904
11,December,-6.717319,57.897415,-7.468174

In [8]:
older_pr_url = "http://climatedataapi.worldbank.org/climateweb/rest/v1/country/mavg/pr/1940/1959/USA"

pr_response = requests.get(older_pr_url).json()

pprint(pr_response)

[{'fromYear': 1940,
  'gcm': 'bccr_bcm2_0',
  'monthVals': [56.02172327,
                50.80353646,
                60.84075182,
                63.11362501,
                71.05330457,
                68.20698072,
                73.07779172,
                77.57282465,
                75.87185244,
                67.09686444,
                60.2682821,
                56.69994225],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'cccma_cgcm3_1',
  'monthVals': [59.70687965,
                50.22217794,
                56.80745812,
                56.97393531,
                64.95357607,
                65.40850762,
                66.22503086,
                62.59095353,
                63.82555805,
                62.91143598,
                68.47809455,
                68.63599124],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'cnrm_cm3',
  'monthVals': [61.29284105,
                59.19459082,
                66.50607359,
                75.05226501,
                89.75626295,
                90.12803011,
                98.27676043,
                90.90166969,
                86.85312872,
                79.30432286,
                66.35923418,
                62.83732141],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'csiro_mk3_5',
  'monthVals': [67.28475006,
                62.42570941,
                66.58516325,
                63.39161009,
                67.89460724,
                67.21013562,
                64.16693077,
                64.3087888,
                70.78788562,
                67.31827506,
                67.18507055,
                70.66985814],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_0',
  'monthVals': [67.39532602932415,
                62.26881323550375,
                72.66548294675736,
                75.02169264225431,
                87.57684100596025,
                85.59184541695193,
                73.08580487962348,
                68.27594816239147,
                72.81804431377131,
                78.18659747806961,
                74.21697608014642,
                73.62834978935146],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'gfdl_cm2_1',
  'monthVals': [69.08778212493111,
                61.615975020829644,
                70.65458886819526,
                68.41308712899104,
                72.00072483260885,
                72.21066217964837,
                71.17428372904048,
                66.91635651618907,
                68.98718303634821,
                68.21168179166817,
                72.14211561911593,
                71.22878736985008],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ingv_echam4',
  'monthVals': [74.74909354803418,
                66.04386731334942,
                76.77007809065697,
                68.18683039576483,
                66.31997956802151,
                61.896758881142226,
                64.3149328415419,
                66.8304763746356,
                67.89323122779646,
                71.96708531748165,
                80.8728040067374,
                79.22968526731765],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'inmcm3_0',
  'monthVals': [76.3605772527364,
                74.6919855940686,
                74.77705669640996,
                70.66459404737974,
                70.31373445647488,
                62.0930111863014,
                59.11451606620683,
                55.503350483512946,
                59.46739947646798,
                82.00399111273983,
                76.74926412492849,
                82.47710377319649],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ipsl_cm4',
  'monthVals': [84.13829015793688,
                74.24724257794789,
                76.69463655182415,
                69.4784766052205,
                61.56324378629258,
                58.78873625062431,
                61.78228494681758,
                63.041488296674835,
                72.57132984337572,
                82.79273344692217,
                86.87975643043491,
                88.66661854693133],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'miroc3_2_medres',
  'monthVals': [67.80283715063868,
                62.21569114314408,
                62.666217473372804,
                59.64983203821762,
                68.52937603116006,
                64.78798984590227,
                66.65222881677852,
                66.0728140019998,
                77.47633694413632,
                76.06100665661373,
                73.41464441730294,
                75.49572623102118],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'miub_echo_g',
  'monthVals': [64.64029035782843,
                56.58355731916491,
                68.67226058883445,
                68.598390481717,
                68.45848217272616,
                67.3033542977904,
                74.77576321808196,
                76.78165570462792,
                68.7078913815839,
                68.37436881267882,
                65.8561308199578,
                71.00066254442417],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'mpi_echam5',
  'monthVals': [73.45868698082597,
                66.84531439450944,
                79.0340065325903,
                74.48505420637804,
                78.37758539324821,
                78.00229223679152,
                82.76219525657443,
                88.05895993611291,
                81.20387970480161,
                75.67348763888938,
                75.18038082360381,
                77.29744536381946],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'mri_cgcm2_3_2a',
  'monthVals': [59.166399501508224,
                49.46914982736511,
                58.01009173641993,
                58.6498233481264,
                59.23158147328771,
                62.62356296421064,
                63.27313876109744,
                67.54047890088307,
                60.16125538235519,
                56.17906160351351,
                60.78655151833633,
                65.6661702914798],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadcm3',
  'monthVals': [67.08210543682122,
                59.2798454422604,
                69.31108814819325,
                68.98402909210287,
                77.54637548987435,
                71.08338106629073,
                74.04460478571944,
                73.1613498013572,
                67.53286255981634,
                73.89838669958728,
                73.75521065768805,
                74.8039888253536],
  'toYear': 1959,
  'variable': 'pr'},
 {'fromYear': 1940,
  'gcm': 'ukmo_hadgem1',
  'monthVals': [71.54891617696373,
                62.63646347683483,
                70.46426617059683,
                67.03347033692877,
                74.59975996041811,
                71.62100482974927,
                64.95843152424736,
                68.62874247932075,
                74.45809031721704,
                74.23402718713844,
                74.15700640642847,
                71.29076157186876],
  'toYear': 1959,
  'variable': 'pr'}]

In [9]:
df["Precipitation(1940-1959)"]= pr_response[0]['monthVals']

df

,Month,Average Temp (1980 - 1999),Precipiation(1980-1999),Average Temp(1940-1959),Precipitation(1940-1959)
0,January,-9.621845,54.085429,-10.158916,56.021723
1,February,-8.451683,50.109668,-8.921036,50.803536
2,March,-3.776518,59.514374,-4.480659,60.840752
3,April,2.673571,65.556613,2.211141,63.113625
4,May,9.254254,70.434940,8.659985,71.053305
5,June,14.923076,68.001146,14.128584,68.206981
6,July,18.226249,74.484280,18.067874,73.077792
7,August,17.891722,74.436758,17.696446,77.572825
8,September,13.545309,76.553649,13.254825,75.871852
9,October,6.414062,69.602309,6.582814,67.096864
10,November,-0.960048,65.110554,-1.204904,60.268282
11,December,-6.717319,57.897415,-7.468174,56.699942